.container {
display: flex;
align-items: center;
margin-bottom: var(--spacing-large);
}
.list__container {
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style: none;
}

.list__container a {
    display: block;
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    border: 2px solid transparent;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-main);
    font-weight: var(--font-bold);
    text-decoration: none;
    text-shadow: var(--text-shadow-yellow);
    transition: var(--transition);
}

.list__container :global(a.active) {
    border: 2px solid var(--color-violet);
    border-radius: var(--border-radius-small);
     color: var(--color-violet);
     text-shadow: none;

}